@import url("../index.css");

#auth-nav {
  margin-bottom: 20px;
  padding-left: 20px;
  background-color: #4182CE;
}

#auth-nav a {
  transition-duration: 250ms;
}

#auth-nav a:hover {
  background-color: #6394ED;
  color: white;
}

#title {
  padding: 10px;
}

#title:hover {
  background-color: #4182CE;
}

#create-board:hover {
  cursor: pointer;
  background-color: cornflowerblue;
}
