body {
  background-color: #fefefb;
}

.cerulean {
  background-color: #4484CE;
}

.alumnium {
  background-color: #D9D9D9;
}

.light {
  background-color: #F9CF00;
}

.tangerine {
  background-color: #F19F4D;
}
