#favourite-button-group {
  position: absolute;
  bottom: 0px;
  right: 15px;
  left: 15px;
}

.favourite-button {
  color: teal;
  margin: '5px';
}

.favourite-button:hover {
  color: black;
  cursor: pointer;
  margin: '5px';
}

.starred {
  color: goldenrod;
  margin: '5px';
}

.starred:before {
  content: "star";
  margin: '5px';
}

.starred:hover:before {
  content: "star_border";
  margin: '5px';
}
