#favourite-button-group {
  width: 85%;
  position: absolute;
  bottom: 0px;
  right: 15px;
}

.favourite-button {
  transition-duration: 0.5s;
  color: #4484CE;
}

.favourite-button:hover {
  color: #F19F4D;
  cursor: pointer;
}

.starred {
  transition-duration: 0.3s;
  color: goldenrod;
}

.starred:before {
  content: "star";
}

.starred:hover:before {
  content: "star_border";
}

.unstarred {
  transition-duration: 0.3s;
  color: #4484CE;
}

.unstarred:before {
  content: "star_border";
}

.unstarred:hover:before {
  color: goldenrod;
  content: "star";
}

button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

button:focus {
  background-color: transparent;
}
