#favourite-button-group {
  width: 85%;
  position: absolute;
  bottom: 0px;
  right: 15px;
}

.favourite-button {
  color: teal;
}

.favourite-button:hover {
  color: black;
  cursor: pointer;
}

.starred {
  color: goldenrod;
}

.starred:before {
  content: "star";
}

.starred:hover:before {
  content: "star_border";
}

.unstarred {
  color: black;
}

.unstarred:before {
  content: "star_border";
}

.unstarred:hover:before {
  color: goldenrod;
  content: "star";
}
