#favourite-button-group {
  width: 85%;
  position: absolute;
  bottom: 0px;
  right: 15px;
}

.favourite-button {
  color: teal;
}

.favourite-button:hover {
  color: black;
  cursor: pointer;
}

.starred {
  color: goldenrod;
}

.test p:before {
  content: "poo";
}

.test:hover p:before {
  content: "test";
}

.starred:before {
  content: "star";
}

.starred:hover:before {
  content: "star_border";
}
